<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.javicabanas.randomuser.usercatalog"
    >

    <application>
        <activity
            android:name=".userlist.UserListActivity"
            android:theme="@style/Theme.AppCompat.Light"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".userdetail.UserDetailActivity"
            android:theme="@style/Theme.AppCompat.Light"
            />

    </application>
</manifest>